.tree-wrapper {
  width: 100%;
  height: 79.5vh;
  border: 2px solid;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .job-grades {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;

    .grade-6 {
      color: black;
      background-color: #eee;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }

    .grade-5 {
      color: black;
      background-color: #ccc;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }

    .grade-4 {
      color: black;
      background-color: #aaa;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }

    .grade-3 {
      color: white;
      background-color: #888;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }

    .grade-2 {
      color: white;
      background-color: #666;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }

    .grade-1 {
      color: white;
      background-color: #444;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }
  }

  .chart-node {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    background-color: white;
    text-align: center;
    font-size: 20px;

    .node-category {
      border-radius: 10px 10px 0 0;
      background-color: #dddddd;
      padding: 10px;
    }

    .node-name {
      text-decoration: underline;
      padding: 10px;
    }

    .node-grade-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;

      .circle-button {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #808080;
        color: white;
        font-size: 36px;
        cursor: pointer;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;

        .plus-symbol {
          transform: translate(0, -2px);
        }

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
