.orgchart.careerPath {
  background-image: none;
  width: auto;
  height: auto;

  > ul > li > ul li::before {
    border-top-color: black;
  }

  > ul > li > ul li .oc-node::before,
  ul li .oc-node:not(:only-child)::after {
    background-color: black;
  }

  .oc-node {
    &:hover {
      background-color: initial;
    }

    &.selected {
      background-color: initial;
    }

    .category {
      box-sizing: border-box;
      background-color: lightgray;
      width: 240px;
      padding: 2px;
      border: 1px solid black;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
    }

    .title {
      box-sizing: border-box;
      width: 240px;
      padding: 2px;
      border: 1px solid black;
      border-bottom: none;
    }

    .grade {
      box-sizing: border-box;
      width: 240px;
      padding: 2px;
      border: 1px solid black;
      border-top: none;
    }
  }
}
