.main {
  display: flex;

  .career-path {
    transform: scale(0.95);
    flex-grow: 1;

    .career-path-title {
      text-align: center;
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
}
